include _mixins.pug
- var title;
- var description;
block vars
doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content=description)
        link(rel='stylesheet' type='text/css' href='styles/global.min.css')
        block styles
body
    nav.container 
        ul
            +navItem('Home','index')
            +navItem('Monster Scaler','monsters')
            +navItem('Sidekick Builder','sidekicks')
            +navItem('Statblock Renderer','statblock')
    block content
    #footer.container
        block footer
        p Creature statistics from the SRD are property of Wizards of the Coast and are used here in accordance with the 
            a(href="https://media.wizards.com/2016/downloads/SRD-OGL_V1.1.pdf") OPEN GAME LICENSE
            | .
        p
            a(href="https://github.com/Renmauzuo/monster-scaler") Fork me on Github
        p Want a specific creature added? More creatures will be added over time, but you may open an issue on Github to request that a particular creature be a higher priority.
    script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
    script(src='scripts/data.min.js')
    script(src='scripts/global.min.js')
    block scripts 
