.form-row 
    div
        label(for='name') Custom Name
        input#name(type="text" name='name')
    div
        label(for='gender') Gender
        select#gender(name='gender')
            option(value=0) Default for creature
            option(value=1) Male (he/him/his)
            option(value=2) Female (she/her/hers)
            option(value=3) Non-binary (they/them/theirs)
            option(value=4) Genderless (it/it/its)