.form-row 
    div
        label(for='name') Custom Name
        input#name(type="text" name='name')
    div
        label(for='gender') Gender
        select#gender(name='gender')
            option(value=0) Default for creature
            option(value=1) Male (he/him/his)
            option(value=2) Female (she/her/hers)
            option(value=3) Non-binary (they/them/theirs)
            option(value=4) Genderless (it/it/its)
    #alignment-wrapper
        label(for='alignment') Alignment
        select#alignment(name='alignment')
            option(value='') Default for creature
            option(value='lawful good') Lawful Good
            option(value='neutral good') Neutral Good
            option(value='chaotic good') Chaotic Good
            option(value='lawful neutral') Lawful Neutral
            option(value='neutral') Neutral
            option(value='chaotic neutral') Chaotic Neutral
            option(value='lawful evil') Lawful Evil
            option(value='neutral evil') Neutral Evil
            option(value='chaotic evil') Chaotic Evil
            option(value='unaligned') Unaligned