#monster-wrapper
    label(for='monster-select') Monster Template:
    select#creature(name='monster-select' data-on-change='setupVariantSelect')
#variant-wrapper 
    label(for='variant-select' data-depends-on='monster-select') Variant:
    select#variant(name='variant-select')
#race-wrapper 
    label(for='race-select') Race:
    select#race-select(name='race-select' data-on-change='setupLineageSelect')
#lineage-wrapper
    label(for='lineage-select') Lineage:
    select#lineage-select(name='lineage-select')