#stat-block
    h2#monster-name
    p#monster-type
    include tapered-rule.pug
    p.property#armor-class Armor Class 
        span
    p.property#hit-points Hit Points 
        span
    p.property#speed Speed 
        span
    include tapered-rule.pug
    #ability-scores
        div
            p STR
            p#monster-str
        div
            p DEX
            p#monster-dex
        div
            p CON
            p#monster-con
        div
            p INT
            p#monster-int
        div
            p WIS
            p#monster-wis
        div
            p CHA
            p#monster-cha
    include tapered-rule.pug
    p.property#skills Skills 
        span
    p.property#vulnerabilities Vulnerabilities 
        span
    p.property#resistances Damage Resistances 
        span
    p.property#immunities Damage Immunities 
        span
    p.property#condition-immunities Condition Immunities 
        span
    p.property#senses Senses 
        span
    p.property#languages Languages 
        span
    p.property#challenge-rating Challenge 
        span
    include tapered-rule.pug
    #traits
    h3 Actions
    #attacks
    #bonus-actions-wrapper
        h3 Bonus Actions
        #bonus-actions
