extends ../pug/_base.pug

append vars
    - let damageTypes = ['Acid','Cold','Fire','Force','Lightning','Poison','Psychic','Necrotic','Radiant','Thunder'];
    - title = "D&D Scaling Tools";
    - description = "Various tools for monsters and sidekicks in Dungeons and Dragons 5th edition.";

append scripts
    script(src='scripts/monsters.min.js')

append content
    .container
        p Hello! This site contains an assortment of tools to help build and edit creatures for Dungeons and Dragons 5th edition.
        p If you're looking for the monster scaling tool that used to be at this page you'll find the link below, we've just done a bit of reorganizing now that there are different tools here.
        ul 
            li 
                a(href='monsters.html') Monster Scaler
                |  - For scaling monsters up or down to different CRs.
            li 
                a(href='sidekicks.html') Sidekick Builder
                |  - For choosing a base creature and building a sidekick.

