extends ../pug/_base.pug

append vars
    - title = "Sidekick Builder";
    - description = "Tool for building sidekicks in Dungeons and Dragons 5th edition.";

append scripts
    script(src='scripts/sidekicks.min.js')

append content 
    #sidekick-builder.container
        h2 Build a sidekick
        form#sidekick-form
            .form-row 
                include ../pug/monster-selection.pug
            include ../pug/identity-selection.pug
            .form-row
                div 
                    label(for='class') Class:
                    select#class(name='class' data-on-change='onClassChange')
                div
                    label(for='level') Level:
                    input#level(name='level' type='number' step="1" min="1" value="1")
                #role-wrapper 
                    label(for='role') Role:
                    select#role(name='role' data-depends-on='class')
            p Bonus Proficiencies:
            .form-row
                div 
                    label(for='bonus-save') Bonus Saving Throw:
                    select#bonus-save(name='bonus-save' data-depends-on='class')
                div 
                    label(for='bonus-skills') Bonus Skills (select #[span#bonus-skill-count]):
                    select#bonus-skills(name='bonus-skills' multiple data-depends-on='class' data-limit)
            #asi-wrapper
                p Feats and Ability Score Increases: 
                .form-row 

    #sidekick-stats.container
        include ../pug/stat-block.pug

append footer
    p 
        a(id="direct-link" href="/") Direct link
    button#fight-club(onclick="exportFightClub(sidekickStats)") Export as XML for Fight Club
    details
        summary Using this tool
        p This tool was created to assist in building sidekicks based on the sidekick rules in Unearthed Arcana. To start select a creature to use as a base. The chosen creature will automatically be scaled to CR 1/2, the maximum allowed per RAW. Sidekick stats will then be added on top of the monster stat block.